@model List<LMSBL.DBModels.LearningCompletionReportModel>
@{
    ViewBag.Title = "Learning Completion Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-4 mb-4 pl-4 pr-4">
    <div class="row user-quiz-top-section learning-completion mb-2 mt-3 p-2 list-box">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
            <div class="content">
                <div class="card">
                    <div class="col-md-12">
                        <div class="float-right">
                            <div class="grey-color" style="margin-top:10px;display:flex;">
                                <label style="padding-top:10px; font-weight:bold; ">
                                    Assigned Date :
                                </label> &nbsp;&nbsp;                                 
                                <input class="form-control datepicker" type="text" id="fDate" name="fDate" placeholder="From Date">&nbsp;&nbsp;
                                <input class="form-control datepicker" type="text" id="tDate" name="tDate" placeholder="To Date">&nbsp;&nbsp;
                                <button type="button" id="btnFilter" class="btn btn-primary create-learning-btn mr-4" style="height:38px;"> Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-4 mb-4 pl-4 pr-4" id="dvActivityData">
        @Html.Partial("~/Views/Reports/_LearningCompletionReportList.cshtml", Model)

    </div>
</div>

<script>
    $(document).ready(function () {

        $('#fDate').datetimepicker({
            format: 'DD/MM/YYYY'
        });
        $('#tDate').datetimepicker({
            format: 'DD/MM/YYYY'
        });
        $('#btnFilter').on("click", function () {
            FilterResult();
        });
    });

    function FilterResult() {

        var fDate = $('#fDate').val();
        var tDate = $('#tDate').val();

        $.ajax({
            type: "POST",
            url: "/Reports/GetFilteredData",
            data: '{fDate: "' + fDate + '",tDate: "' + tDate + '",ReportName: "LearningCompletionReport" }',
            //data: '{fDate: "' + fDate + '",tDate: "' + tDate + '",ReportName: "LearningCompletionReport" }',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                // console.log(response);
                $('#dvActivityData').html(response);
            },
            failure: function (response) {
                console.log(response);
            },
            error: function (response) {
                alert("Dinesh")
                console.log(response);
            }
        });
    }

</script>


