<footer class="footer">
    <div class="container-fluid">       
        <div class="copyright float-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script> by
            <a href="https://www.logicieltech.com/" target="_blank">Logiciel Softtech Pvt. Ltd.</a> 
        </div>
    </div>
</footer>
